extends layout

block content
  h1= title
  p Inscription
  form(method="POST" action="register")
    label(for="") Username 
    input(type="text" name="username")
    label(for="") Password
    input(type="password" name="password")
    button entrer
  p #{error}



